.box {
	background: #fff;
	border-radius: 20px;
	padding: 1px 20px;
	box-shadow: 0 8px 12px #ebedf0;
	margin-bottom: 30px;
	font-size: 15px;
	color: #34495e;
}

.box .title{
	font-weight 500;
	font-size: 18px;
}